node_modules
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log.*
lerna-debug.log.*
.idea
.npmrc

web/chip8.js
web/chip8.js.map

dist/
dist/*

tests/SnapShots/chip8.js
tests/SnapShots/chip8.js.map

tests/SnapShots/SCREENSHOTS/
tests/SnapShots/SCREENSHOTS/*
tests/SnapShots/COMPAREDIFF/
tests/SnapShots/COMPAREDIFF/*